* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #111;
    height: 50px;
    animation-name: navbarc;
    animation-duration: 100s, infinite;
}

@keyframes navbarc {
    0% {background-color: #111;}
    50% {background-color: white;}
    100% {background-color: purple;}
}

nav:hover {
    height: 55px;
}