/* Styling for the main index.html file should be */
/* placed within this file. */

.navbar {
    height: 60px;
    background: #111;
}

.navbar ul a li {
    margin-right: 20px;
    position: relative;
    bottom: 10rem;
    float: right;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar .LOGO {
    color: white;
    font: sans-serif;
    font-size: 50px;
    margin-top: 50px;
}

.navbar ul li:hover {
    border-radius: 20px;
    background-color: white;
    color: black;
    transition: .5s;
}
